.link{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  height: 5px;
  display:inline;
  display:inline-block;
  
  text-decoration: none;
  color: rgb(8, 8, 8);
}
.logo
{
float: left;
height: 51px;
width: 80px;
border-radius: 30px;
}
.nav {
  background-color: #E1C7B3;
  width: 98.5%;
  display:inline-block;
  padding:10px;
  text-decoration: none;
  color: rgb(8, 8, 8);
 
}
.nav a{
  display:inline-block;
  padding:10px;
  text-decoration: none;
  color: rgb(8, 8, 8);
  }
  .searchbar
  {
    float: right;
    border-radius: 20px;
    margin-top: 12px;
    margin-right: 12px;
    padding-left: 10px;
  }

  @media screen and (max-width: 400px) {
    .nav a, .nav-li {
      float: left;
      display: block;
    }
  }